@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?ul6y9n');
  src:  url('icomoon.eot?ul6y9n#iefix') format('embedded-opentype'),
    url('icomoon.ttf?ul6y9n') format('truetype'),
    url('icomoon.woff?ul6y9n') format('woff'),
    url('icomoon.svg?ul6y9n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e902";
}
.icon-bubbles:before {
  content: "\e96c";
}
.icon-leaf:before {
  content: "\e9a4";
}
.icon-power:before {
  content: "\e9b5";
}
.icon-menu:before {
  content: "\e9bd";
}
